# python files and dirs
*.pyc
*.pyo
*.egg
*.egg-info
dist
build
eggs
parts

# installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov
.coverage
.tox

# temp files
*~
*.log

# pycharm files
*.iml
.idea

# playground file
playground.py

